body{
    background-color: #f4f4f4;
}
/* 顶部广告 start */
.top{
    width: 100%;
    min-width: 1190px;
    height: 80px;
    background-color: rgb(106, 143, 16);
    overflow: hidden;
    position: relative;
}
.top img{
    height: auto;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
/* 顶部广告 end */
/* 灰色导航 start */
.grey-nav{
    width: 100%;
    min-width: 1190px;
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
}
.wrap{
    width: 1190px;
    margin: 0 auto;
}
.grey-nav  .grey-nav-left{
    float: left;
}
.grey-nav .grey-nav-right{
    float: right;
}
.grey-nav li{
    float: left;
    position: relative;
}
.grey-nav .space{
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.grey-nav li span{
    color: #ccc;
    margin: 0 5px;
}
.grey-nav a{
    color: #999;
}
.grey-nav a span{
    color: #999;
}
.grey-nav i{
    margin: 0 -3px;
}
.grey-nav .red{
    color:#f10215;
    margin: 0 -5px;
}
.grey-nav a:hover{
    color:#f10215;
}
.grey-nav a:hover>span{
    color:#f10215;
}
.download{
    width: 180px;
    height: 0px;
    background: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top:30px;
    left: 50%;
    margin-left: -150px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
    float: left;
}
.download-img{
    width: 80px;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.download img{
    width: 70px;
    height: 70px;
    margin: 2px 0 2px;
}
.download-text{
    width: 100px;
    min-height: 70px;
    overflow: hidden;
}
.download .title{
    font-size: 12px;
    line-height: 17px;
    color: #666 !important;
}
.download .value{
    line-height: 14px;
    margin: 3px 0;
    color: #f10214;
}
.grey-nav-right li:hover>.download{
    height: 100px;
    z-index: 1;
}
.stri{
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -18px;
    display: none;

}
.grey-nav-right>li:hover>.stri{
    display: block;
}
.grey-nav .text{
    color: #999;
    padding: 0;
    margin: 0;
}
.grey-nav-right li:hover>.phone .text{
    color:#f10215;
}
.grey-nav .iconfont{
    top:0px;
    position: absolute;
    margin-left: 3px;
}
.grey-nav .address{
    min-width: 76px;
}
.grey-nav .address:hover{
    background:#fff;
}
.grey-nav .address .iconfont{
    color: #f10215;
}
.grey-nav .address .text{
    color: #999;
    margin-left: 18px;
}
.grey-nav .address:hover>.text{
    color: #f10215;
}
.grey-nav .mylist{
    width: 120px;
    height: 0px;
    background: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    right: 0;
    top:30px;
    overflow: hidden;
    margin-left: -45px;
}
.grey-nav .down{
    min-width: 62px;
}
.grey-nav .down:hover{
    background:#fff;
}
.grey-nav .down:hover>.mylist{
    height: 100px;
    z-index: 1;
}
.grey-nav .down .mydown{
    margin: 0px 0px;
    color: #999;
}
.grey-nav .down:hover>.mydown{
    color: #f10215;
}
/* 灰色导航 end */
/* 头部 start */
.header{
    width: 100%;
    height: 140px;
    background-color: #fff;
}
.header-box{
    position: relative;
    height: 140px;
}
.logo{
    width: 190px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 10px;
    background: url(./../img/logo1.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0px;
}
.search{
    width: 100%;
    height: 60px;
}
.search-m{
    width: 100%;
    height: 60px;
    position: relative;
}
.search_logo{
    position: absolute;
    top: -106px;
    left: 0;
    width: 125px;
    height: 40px;
    display: none;
}
.form{
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    position: absolute;
    left: 260px;
    top: 25px;
    background-color: #fff;
}
.keyword{
    position: absolute;
    width: 425px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
    color: #333;
    top: 0;
    outline: none;
}
.photo-search-btn{
    position: absolute;
    right: 75px;
    top: 5px;
    width: 19px;
    height: 18px;
    overflow: hidden;
}
#camera{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.form button{
    position: absolute;
    right: 0;
    width: 58px;
    height: 32px;
    line-height: 32px;
    border: none;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.form button:hover{
    background-color: #c10414;
}
#settleup{
    position: absolute;
    right: 230px;
    top: 25px;
}
#settleup .cw-icon{
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border-color: #eee;
}
.cw-icon{
    overflow: hidden;
    position: relative;
    float: left;
    border: 1px solid #e3e4e5;
}
#settleup .iconfont, #settleup a{
    color: #e1251b;
}
#settleup .ci-count {
    position: absolute;
    top: 1px;
    left: 29px;
    right: auto;
    display: inline-block;
    padding: 1px 3px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #e1251b;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
    font-style: normal;
}
#settleup:hover .cw-icon {
    border-bottom: transparent;
}
#settleup:hover .cw-icon {
    border-color: #c81623;
}
#settleup .dropdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
    top: 34px;
    right: 0;
    width: 308px;
    border-color: #c81623;
}
#settleup:hover>.dropdown-layer{
    display: block;
}
.cart-list {
    position: relative;
    z-index: 2;
    width: 100%;
    background: #fff;
}
.cart_empty {
    height: 49px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    line-height: 49px;
    overflow: hidden;
    color: #999;
}
.cart_empty_img {
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 49px;
    background-image: url(./../img/empty.png);
}
.search-help{
    display: none;
    position: absolute;
    top: 35px;
    width: 488px;
    height: auto;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0 / 20%);
    z-index: 2;
}
.search-help p{
    text-align: left;
    font-size: 12px;
    height: 24px;
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
    color: #666;
}
.search-help p:hover{
    background-color: #dbdbdb;
}
.header-box .navitems{
    overflow: hidden;
    position: absolute;
    left: 203px;
    bottom: 0;
    width: 830px;
    height: 40px;
    padding-top: 20px;
}
.header-box .navitems ul,li{
    float: left;
}
.header-box .navitems li{
    margin-left: 1px;
}
.header-box .navitems .group{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    height: 40px;
    margin: 0 0;
}
.header-box .navitems a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    margin: 0 11px;
}
.header-box .navitems a:hover{
    color: #d71212;
}
/* 头部 end */
/* 轮播图 start */
.banner{
    width: 100%;
    height: 470px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.banner-box{
    display: flex; /* 启用 Flexbox 布局 */
    align-items: stretch; /* 使子元素高度填充容器高度 */
    height: 470px;
}
.banner-box .fs_col1{
    position: relative;
    width: 190px;
    background-color: #fff;
}
.banner-box .fs_col2{
    width: 590px;
    margin-left: 10px;
    position: relative;
}
.banner-box .fs_col3{
    width: 390px;
    margin-left: 10px;
}
.banner-box .fs_col1 ul{
    overflow: hidden;
    padding: 10px 0;
    height: 450px;
    background-color: #fefefe;
    color: #636363;
}
.banner-box .fs_col1 li{
    overflow: hidden;
    padding-left: 18px;
    font-size: 0;
    height: 25px;
    line-height: 25px;
}
.banner-box .fs_col1 a{
    font-size: 14px;
    color: #333;
}
.banner-box .fs_col1 a:hover{
    color: #d71212;
}
.banner-box .fs_col1 span{
    padding: 0 2px;
    font-size: 12px;
}
.prev,.next{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 20px;
    transition: background-color .2s ease;
    cursor: pointer;
}
.prev:hover,.next:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.prev{
    left: 0;
    border-radius: 0 18px 18px 0;
}
.next{
    right: 0;
    border-radius: 18px 0 0 18px;
}
.fs_col2 a{
    color: #fff;
}
.fs_col2 a:hover{
    color: #fff;
}
.next i{
    margin-left: 8px;
}
.banner-btn{
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 90px;
    height: 13.8px;
}
.banner-btn li{
    float: left;
    width: 8px;
    height: 8px;
    margin-left: 4px;
    border: 0.8px;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: rgba(255, 255, 255, .4);
    border-radius: 50%;
}
.banner-btn .active{
    position: relative;
    top: -2px;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, 1);
}
.fs_col3 .box1{
    display: flex;
    width: 390px;
    height: 96px;
    background-color: #fff;
}
.fs_col3 .box2, .box3{
    width: 390px;
    height: 110px;
    margin-top: 10px;
    background-color: #fff;
}
.fs_col3 .box4{
    width: 390px;
    height: 112px;
    margin-top: 10px;
    padding-top: 12px;
    background-color: #fff;
}
.fs_col3 .box1 .logo_info{
    width: 126px;
    height: 96px;
}
.fs_col3 .box1 .user{
    width: 264px;
    height: 96px;
}
.fs_col3 .box1 .logo_info .user-logo{
    width: 28px;
    height: 28px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.fs_col3 .box1 .logo_info img{
    position: absolute;
    top: 14px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.fs_col3 .box1 .welcome-text{
    margin-top: 20px;
    width: 126px;
    height: 40px;
}
.fs_col3 .box1 .welcome{
    width: 100%;
    text-align: center;
    line-height: 20px;
}
.fs_col3 .box1 .welcome>a{
    color: #666666;
}
.fs_col3 .box1 .welcome>a:hover{
    color: #d71212;
}
.fs_col3 .box1 .logo_area{
    width: 126px;
    height: 20px;
    text-align: center;
}
.fs_col3 .box1 .user-right{
    width: 264px;
    position: relative;
}
.fs_col3 .box1 .plus{
    position: absolute;
    width: 124px;
    height: 80px;
    margin-top: 8px;
    background: url(./../img/plus.png);
    background-size: cover;
    border-radius: 4px;
}
.fs_col3 .box1 .company{
    position: absolute;
    width: 124px;
    height: 80px;
    margin-top: 8px;
    right: 8px;
    background: url(./../img/company.png);
    background-size: cover;
    border-radius: 4px;
}
.box1 .title{
    margin-top: 10px;
    margin-left: 8px;
    font-weight: 600;
    font-size: 13px;
}
.box1 .sub_titie{
    margin-left: 8px;
    font-size: 12px;
    line-height: 12px;
}
.box1 .user_array{
    margin-left: 8px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 400;
}
.box1 .user_array i{
    font-size: 11px;
}
.box1 .plus .title{
    color: #663300;
}
.box1 .plus .sub_titie{
    color: #A88100;
}
.box1 .plus .user_array{
    color: #663300;
}
.box1 .company .title{
    color: #054180;
}
.box1 .company .sub_titie{
    color: #3369a5;
}
.box1 .company .user_array{
    color: #054180;
}
.box2 .left, .box3 .left{
    position: relative;
    margin: 8px 6px 8px 8px;
    float: left;
    width: 83px;
    height: 94px;
    background: url(./../img/小背景.png);
    background-size: cover;
}
.box2 a, .box3 a{
    position: absolute;
    margin: 5px auto;
}
.box4 .service_item{
    position: relative;
    float: left;
    width: 78px;
    height: 55px;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
.box4 .service_ico{
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}
.box4 .service_ico img{
    width: 28px;
    height: 28px;
}
.box4 .service_txt{
    display: block;
    width: 48px;
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    color: #333;
}
/* 轮播图 end */